- content_for :header do
  |Welcome

h3 Here you can see all collections!

.table-responsive
  table.table.table-striped.table-hover
    thead
      tr
        th User
        th colspan="2"
    tbody
      - @users.each do |user|
        tr
          td = user.email
          td = link_to 'Show Collection', user_images_path(user.id)
