$spaces_max: 60
$step: 5
$i: 0

@while $i <= $spaces_max
  .mt-#{$i}
    margin-top: $i + px !important
  .mb-#{$i} 
    margin-bottom: $i + px !important
  .ml-#{$i} 
    margin-left: $i + px !important

  .mr-#{$i} 
    margin-right: $i + px !important

  .pt-#{$i} 
    padding-top: $i + px !important

  .pb-#{$i} 
    padding-bottom: $i + px !important

  .pl-#{$i} 
    padding-left: $i + px !important

  .pr-#{$i} 
    padding-right: $i + px !important

  $i: $i + $step
