- content_for :header do
  = @it_is_my_images_list ? 'My Collection' : 'Collection'

  - if @it_is_my_images_list
    = link_to new_image_path, class: 'btn btn-primary btn-header' do
      span.glyphicon.glyphicon-plus
      |  New Image

.mt-10
  'Share link:
  span.share-link = link_to user_images_url(params[:user_id])

- if @images.any?
  .table-responsive.mt-50
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          th colspan="4"
      tbody
        - @images.each do | image |
          tr
            td = image.name
            td = image_tag image.file.thumb.url, id: "image-#{image.id}"
            td
              = link_to 'Show', image
            td
              - if @it_is_my_images_list
                = link_to 'Edit', edit_image_path(image)
            td
              - if @it_is_my_images_list
                = link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-#{image.id}"
- else
  h4 There are no images