- content_for :header do
  | Show image

  - if current_user && (current_user.id == @image[:user_id].to_i)
      = link_to edit_image_path(@image), class: 'btn btn-primary btn-header' do
        span.glyphicon.glyphicon-pencil
        |  Edit

h4
  em = @image.name

.clearfix = image_tag @image.file.url, class: 'image-big', id: "image-#{@image.id}"

.mt-10
  'Share link:
  span.share-link = link_to image_url(@image)